.footer {
  background-color: #D97706;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.footer-nav a:hover {
  color: #FDBA74;
}

.footer-nav a .fa-icon {
  margin-right: 8px;
}
